--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2 (Debian 17.2-1.pgdg120+1)
-- Dumped by pg_dump version 17.2 (Debian 17.2-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: b3-epsi
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'USER'
);


ALTER TYPE public."Role" OWNER TO "b3-epsi";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Enigma; Type: TABLE; Schema: public; Owner: b3-epsi
--

CREATE TABLE public."Enigma" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    image text,
    difficulty integer NOT NULL,
    "numberOfParticipants" integer DEFAULT 2 NOT NULL,
    "numberOfHours" integer DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Enigma" OWNER TO "b3-epsi";

--
-- Name: User; Type: TABLE; Schema: public; Owner: b3-epsi
--

CREATE TABLE public."User" (
    id text NOT NULL,
    username text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL
);


ALTER TABLE public."User" OWNER TO "b3-epsi";

--
-- Data for Name: Enigma; Type: TABLE DATA; Schema: public; Owner: b3-epsi
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: b3-epsi
--

COPY public."User" (id, username, email, password, "createdAt", "updatedAt", role) FROM stdin;
cm4wiz8t40000uud4vqe9c32t	Test	poulou@gmail.com	Azertyuiop^$123	2024-12-20 09:05:34.551	2024-12-20 09:05:34.551	USER
cm5ur2xaq0000uuxooowkbhfz	basile	basilezic@gmail.com	$2b$10$Z5pofkr7bH4DVnYwTgpHK.NFq3v9xsO/xIX3HVCCnyOX.13x4tvZ.	2025-01-13 07:56:33.17	2025-01-13 07:56:33.17	USER
\.


--
-- Name: Enigma Enigma_pkey; Type: CONSTRAINT; Schema: public; Owner: b3-epsi
--

ALTER TABLE ONLY public."Enigma"
    ADD CONSTRAINT "Enigma_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: b3-epsi
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: b3-epsi
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Enigma Enigma_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: b3-epsi
--

ALTER TABLE ONLY public."Enigma"
    ADD CONSTRAINT "Enigma_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

